html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: #212121; */
}

.cubeLabel > div {
  font-family: Helvetica, Arial;
  background: #00000088;
  padding: 12px;
  white-space: nowrap;
  color: white;
  overflow: hidden;
  border-radius: 12px;
  user-select: none;
}

canvas {
  touch-action: none;
}

.htmlScreen iframe {
  width: 1024px;
  height: 670px;
  border: none;
  border-radius: 18px;
  background: black;
}
